:root {
  // colors
  --button-default: #e21010;
  --eventbrite-color: #d34618;
  --meetup-color: #ea1034;
  --grey-color: #bdbdbd;
  --accessibility-color: #24c46b;
  --css-color: #2062af;
  --javascript-color: #f7df1e;
  --node-color: #8cc94a;
  --react-color: #61dafb;
  --testing-color: #15c213;
  --toolbelt-color: #21a3f1;
  // learning resource links
  --learning-resource-links: #f7df1e;
  // content widths
  --content-width: 720px;
}
