:root {
  --accessibility-color: #24c46b;
  --css-color: #2062af;
  --javascript-color: #f7df1e;
  --node-color: #8cc94a;
  --react-color: #61dafb;
  --testing-color: #15c213;
  --toolbelt-color: #21a3f1;

  --learning-resource-links: #f7df1e;
}
