@import "../utility/responds-to.scss";

:root {
  // colors
  --button-default: #e21010;
  --eventbrite-color: #d34618;
  --meetup-color: #ea1034;
  --grey-color: #bdbdbd;
  --accessibility-color: #24c46b;
  --css-color: #2062af;
  --javascript-color: #f7df1e;
  --node-color: #8cc94a;
  --react-color: #61dafb;
  --testing-color: #15c213;
  --toolbelt-color: #21a3f1;
  // learning resource links
  --learning-resource-links: #f7df1e;
  // content widths
  --content-width: 720px;
  // spacing for all titles on site
  --title-spacing: 3.5rem;
  @include responds-to("sm", "max") {
    --title-spacing: 2rem;
  }
  // standardize responsive grid layout
  --grid-responsive-default: repeat(auto-fill, minmax(400px, 1fr));
  @include responds-to("sm", "max") {
    --grid-responsive-default: auto;
  }
  // conditional padding for blog on the homepage
  --blog-conditional-padding: 4rem;
  @include responds-to("sm", "max") {
    --blog-conditional-padding: 0;
  }
}
