@import "../../styles/config/colour.scss";
@import "../../styles/config/globals.scss";
@import "../../styles/utility/responds-to.scss";

.menu {
  position: fixed;
  z-index: map-get($layers, "higher");
  @include responds-to("xs") {
    display: none;
  }
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $accent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;

  a {
    color: #ffffff;
    display: inline-block;
    text-align: left;
    text-decoration: none;
    font-size: 7vw;
    font-weight: 600;
    margin-bottom: 32px;
  }
}
