@import "../../styles/utility/responds-to.scss";

.blogposts {
  h2 {
    margin-bottom: 3.5rem;
  }
  img {
    margin-bottom: 0;
  }
}

.flex {
  @include responds-to("sm", "min") {
    padding-right: 2rem;
  }
  @include responds-to("md", "min") {
    padding-right: 6rem;
  }
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
}
