@import "../../styles/utility/responds-to.scss";

.blogposts {
  img {
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
    &:last-child {
      display: block;
      text-align: right;
      text-decoration: none;
      margin-top: auto;
      img {
        padding-left: 0.2rem;
      }
    }

    .external-link {
      margin-bottom: 2px;
      vertical-align: middle;
      margin-left: 10px;
      width: 17px;
    }
  }
}

.blog-post {
  margin-bottom: 1rem;

  h3 {
    margin-bottom: 0.6rem;
  }
  p {
    margin-bottom: 0.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  small {
    margin-right: 1rem;
  }
}

.flex {
  flex: 1 1 550px;
  display: flex;
  flex-direction: column;
  @include responds-to("sm", "min") {
    padding-left: 2rem;
  }
}
