@import "../../styles/utility/responds-to.scss";

.title {
  margin-bottom: var(--title-spacing);
  @include responds-to("sm", "min") {
    text-align: center;
  }
}

.learning-resource {
  padding: 1.25rem 1.5rem;

  h3,
  p {
    word-break: break-word;
    white-space: normal;
  }

  a {
    text-decoration: none;
  }

  h3 {
    margin-bottom: 0;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  img {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 2.5rem;
  }

  button {
    display: block;
    margin-left: auto;
    margin-top: auto;
  }

  &:last-child {
    margin-right: 0;
  }
}

.carousel-item {
  --carousel-right-padding: 40px;
  position: relative;
  scroll-snap-align: center;
  margin-right: 2rem;
  flex: 1 0 400px;

  a {
    display: flex;
    flex-direction: column;
  }

  &:last-child:after {
    content: "";
    display: block;
    position: absolute;
    right: calc(-1 * var(--carousel-right-padding));
    width: var(--carousel-right-padding);
    height: 1px;
  }

  @include responds-to("sm", "max") {
    --carousel-right-padding: 1rem;
    flex: 1 0 calc(100vw - 2.5rem);
    margin-right: 0.75rem;
    margin-left: 0;
  }
}

.grid-item {
  @include responds-to("xs", "max") {
    width: calc(100vw - 2rem);
    margin-right: 10px;
  }
}
