@import "../../styles/config/colour.scss";
@import "../../styles/utility/responds-to.scss";

.learning-resources {
  scroll-snap-align: center;
  position: relative;
  margin-right: 15px;
  display: inline-block;
  vertical-align: top;
  width: 400px;
  @include responds-to("xxs", "max") {
    width: calc(100vw - 30px);
    margin-right: 10px;
  }

  &:last-child {
    margin-right: 0;
  }

  h3,
  h4,
  p,
  li {
    word-break: break-word;
    white-space: normal;
  }

  div {
    height: 430px;
    overflow: hidden;
  }

  > a {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 60px;
    background: $accent;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0 0 10px 10px;
  }

  h4 {
    font-size: 1.2rem;
  }
}
