$main-max-width: 1030px;
$blog-max-width: 640px;

.main {
  width: 100vw;
  max-width: $main-max-width;
  grid-column: 2/3;
  padding: 2.499rem 1rem;
}

.blog {
  width: 100vw;
  max-width: 640px;
}

.center {
  width: 100vw;
  max-width: $main-max-width;
  grid-column: 2/3;
}

.full-width {
  grid-column: 1/5;
}
