.twitter {
  color: #fff;
  padding: 0.8rem 2rem 0.8rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  img {
    margin-bottom: 0;
  }

  a {
    display: block;
    cursor: pointer;
  }

  button {
    padding: 0;
    background: #fff;
    border: none;
    color: #1b92db;
    cursor: pointer;
  }
}
