@import "../../styles/utility/responds-to.scss";

.layout {
  width: 100%;
  padding-top: 3.5rem;
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(0, auto) minmax(2rem, 1fr);
  grid-auto-rows: auto;

  @include responds-to("xs", "max") {
    grid-template-columns: 1rem minmax(0, 1fr) 1rem;
  }
}
