@import "../../styles/utility/responds-to.scss";

.next-meetup {
  padding: 6rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;

  h2,
  h3 {
    text-align: center;
  }

  @include responds-to("sm", "max") {
    padding: 3rem 0rem 5rem 0rem;
    h3 {
      font-size: 1.5rem;
    }
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;

    p {
      margin: 0 2rem 0 0;
      flex: 0 0 auto;
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--grey-color);

      @include responds-to("sm", "max") {
        font-size: 1rem;
        margin: 0 1rem 0 0;
      }

      &:last-of-type {
        flex: 0 1 auto;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-all;
      }
    }

    img {
      height: 1.3rem;
      margin-bottom: 0;
      margin-right: 0.5rem;
    }
  }
}

.title {
  color: var(--grey-color);
  font-size: 2.2rem;
}
