.blog-section {
  width: 100%;

  > div {
    display: flex;
    flex-direction: column;
    flex: 1 1 250px;

    &:first-of-type {
      width: 30%;
      padding-right: var(--blog-conditional-padding);
    }

    &:last-of-type {
      width: 70%;
      flex: 2 1 250px;
    }
  }
}
