/**
 *  this is just for testing purposes to ensure scss and css modules
 *  are initialised correctly feel free to alter or remove this file.
 */

@import "../../../styles/utility/responds-to.scss";
@import "../../../styles/config/colour.scss";
@import "../../../styles/config/globals.scss";

$header-height: 50px;
$nav-spacing: 30px;

.header {
  display: none;
  @include responds-to("xs") {
    display: flex;
  }
  align-items: center;
  background: $white;
  color: $accent;
  height: $header-height;
  justify-content: space-between;
  padding: 0 2em;
  position: relative;
  z-index: map-get($layers, "highest");

  .logo svg {
    margin-right: 13px;
    margin-bottom: -2px;
  }

  h2 {
    line-height: inherit;
    margin: 0;
    padding-bottom: 4px;
  }
  .title {
    color: $accent;
    font-size: 20px; // TODO: replace with configuration values
    text-decoration: none;
  }
}

nav {
  display: inline-block;
  font-size: 16px; // TODO: replace with configuration values

  a {
    color: $accent;
    margin-right: $nav-spacing;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  :last-child {
    margin-right: 0;
  }
}
