/**
 *  this is just for testing purposes to ensure scss and css modules
 *  are initialised correctly feel free to alter or remove this file.
 */
.header {
    background: #4D844F;
    margin-bottom: 1.45rem;
}

.container {
    margin: 0 auto;
    max-width: 960;
    padding: 1.45rem 1.0875rem;
    h1 {
        margin: 0;
    }
    .title {
        color: white;
        text-decoration: none;
    }  
}

