@import "../../styles/utility/responds-to.scss";
@import "../../styles/config/colour.scss";

.header {
  grid-column: 1/4;
  background-image: url(../../icons/new.svg);
  background-position: 0 -60px;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  display: flex;
  justify-content: center;
  margin-top: -2.499rem;
  padding-top: 130px;
  position: relative;

  @include responds-to("xs", "max") {
    background-position: 0 -20px;
  }

  h1 {
    margin-bottom: 1.2rem;
  }

  > div {
    max-width: 800px;
    width: calc(100% - 30px);

    > p {
      margin-bottom: 2rem;
      max-width: 700px;
    }
  }
}
