@import "../../styles/utility/responds-to.scss";

.title {
  margin-bottom: var(--title-spacing);
  @include responds-to("sm", "min") {
    text-align: center;
  }
}

.organiser {
  --carousel-right-padding: 40px;
  position: relative;
  scroll-snap-align: center;
  flex: 1 0 360px;
  margin-right: 2rem;
  padding: 1.5rem;

  h3 {
    display: block;
    margin-top: 2px;
    margin-bottom: 0;
  }

  p {
    word-break: break-word;
    white-space: normal;

    &:last-of-type {
      color: #767676;
      font-size: 0.875rem;
    }
  }

  a {
    margin-right: 0.5rem;
    text-decoration: none;
    font-size: 0.875rem;
  }

  div img {
    border-radius: 50%;
  }

  span {
    padding-left: 0.75rem;
  }

  span img {
    border-radius: 0;
    height: 16px;
    margin-bottom: 0px;
    margin-right: 0.75rem;
    vertical-align: middle;
  }

  &:last-child {
    margin-right: 0;
  }

  &:last-child:after {
    content: "";
    display: block;
    position: absolute;
    right: calc(-1 * var(--carousel-right-padding));
    width: var(--carousel-right-padding);
    height: 1px;
  }

  @include responds-to("sm", "max") {
    --carousel-right-padding: 1rem;
    flex: 1 0 calc(100vw - 2.5rem);
    margin-right: 0.5rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: 56px 1fr;
  grid-gap: 16px 12px;
  @include responds-to("sm", "max") {
    grid-template-rows: auto 96px 1fr;
  }

  div {
    align-self: center;
  }

  p {
    grid-column: 1/3;
    margin-bottom: 0;
    font-size: 16px;
  }
}
