@import "../../styles/utility/responds-to.scss";
$main-max-width: 1200px;

.center {
  width: 100%;
  max-width: $main-max-width;
  grid-column: 2/3;

  > article {
    padding: 2.499rem 0rem;
    @include responds-to("sm", "max") {
      padding: 2rem 0rem;
    }
  }
}
